*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(211, 211, 211) !important;
}
#stop{
    display: none;
}
.StartSpeaking{
    display: none;
}
#speaking .container img{
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 3px;
}
#stop,#descriptionStart{
    padding: 10px 20px;
    border: 0px;
    background-color: rgb(2, 39, 134);
    color: white;
    border-radius: 10px;
}
#timer{
    color: red;
    font-weight: 600;
}
#speakingDescription{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: rgb(211, 211, 211) !important;
}
#speaking{
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
}
audio{
    width: 350px !important;
}